body {
    font-size: 1.2rem;
    background-color: #fefefe;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.login-card {
    width: 400px;
    margin-top: 40px;
}

.mat-form-field-infix {
    width: 300px;
}

.general-content {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
}

.infos {
    width: 80%;
    display: flex;
    flex-direction: row;
    padding: 6px;
    box-sizing: border-box;
    margin-left: 24%;
}

.example-spacer {
    flex: 1 1 auto;
}

.border {
    background-color: darkgray;
    padding: 27px 14px;
    border-radius: 4px;
}

.caixa__next {
    background-color: darkgray;
}

.mat-toolbar {
    background: #121F64;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
    height: 0px !important;
}